<table class="table table-condensed">
    <thead>
    <tr>
        <th>Kirjautumisnimi</th>
        <th>Palvelunimi</th>
        <th ng-show="resetPsw !== '' || newUserBoolean">Salasana</th>
        <th>Hallinta</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-show="newUserBoolean" ng-form="newUserForm">
        <td ng-class="{'has-error': newUserForm.loginname.$invalid && newUserForm.loginname.$dirty}">
            <input type="text" placeholder="Kirjautumisnimi"  class="form-control" name="loginname" ng-model="newUser.LoginName" required/>
        </td>
        <td ng-class="{'has-error': newUserForm.username.$invalid && newUserForm.username.$dirty}">
            <input type="text" placeholder="Palvelunimi"  class="form-control" name="username" ng-model="newUser.Username" required/>
        </td>
        <td ng-class="{'has-error': newUserForm.password.$invalid && newUserForm.password.$dirty }">
            <input type="password"placeholder="Salasana" ng-class="{ 'has-error': newUserForm.newUserPassword.$invalid}"
                   class="form-control" name="password" ng-model="newUser.Password" required/>
        </td>
        <td>
            <button type="submit" ng-disabled="newUserForm.$invalid"class="btn btn-sm btn-success" ng-click="createNewUser()">Luo uusi käyttäjä</button>
            <button class="btn btn-sm btn-danger" ng-click="cancelEditOrReset()">Peruuta</button>
        </td>
    </tr>
    <tr ng-repeat="user in users | filter:searchText | limitTo : 50" ng-form="resetPswForm">
        <td>{{user.loginName}}</td>
        <td>{{user.username}}</td>
        <td ng-show="'' !== resetPsw || newUserBoolean" ng-class="{'has-error': resetPswForm.editPassword.$invalid}">
            <input ng-show="user.userId === resetPsw" type="password"placeholder="Uusi salasana" class="form-control" name="editPassword" ng-model="editPassword" required/>
        </td>
        <td>
            <div ng-hide="'' !== resetPsw || newUserBoolean" class="btn-group">
                <button class="btn btn-sm btn-primary" ng-click="rpsw(user.userId)">Vaihda salasana</button>
                <button class="btn btn-sm btn-danger" ng-click="removeUser(user.userId)">Poista</button>
            </div>
            <button ng-show="user.userId === resetPsw" class="btn btn-sm btn-success" ng-disabled="resetPswForm.editPassword.$invalid" ng-click="doResetPsw(user.userId, editPassword)">Lähetä uusi salasana</button>
            <button ng-show="user.userId === editID || user.userId === resetPsw" class="btn btn-sm btn-danger" ng-click="cancelEditOrReset()">Peruuta</button>
        </td>
    </tr>
    </tbody>
</table>
<uib-pagination ng-show="users.lenght > 20" total-items="users.lenght" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false"></uib-pagination>
