language: java

jdk:
  - oraclejdk8

notifications:
  email: false
  irc:
    channels:
    - "irc.stealth.net#Sotechat"
    on_success: always
    on_failure: always
    use_notice: true
    skip_join: true
    template:
    - '#%{build_number} %{message} (%{branch} : %{author}): %{commit_message}'

after_success:
  - mvn clean test jacoco:report coveralls:report
