<div class="panel panel-default userToPool-panel">
    <div class="panel-body">
        <h4>X keskusteluun liittyminen</h4>
        <form ng-submit="joinQueue()">
            <div class="form-group">
                <label for="userName">Nimimerkki:</label>
                <input ng-model="userName" type="text" class="form-control" id="userName" required>
            </div>
            <div class="form-group">
                <label for="startMessage">Aloitus viesti:</label>
                <textarea ng-model="startMessage" class="form-control" id="startMessage" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-success btn-block">Siirry jonottamaan</button>
        </form>
    </div>
</div>