<div class="panel panel-default chat-panel">
    <div class="panel-heading chat-heading">
            <h4 class="panel-title pull-left chatTitle">{{chatText}}</h4>
            <button class="btn btn-danger pull-right" name="userEndConversation"
                    type="button" ng-click="userLeave()" ng-hide="pro || chatClosed">Lopeta keskustelu</button>
        <div class="clearfix"></div>
    </div>

    <div class="panel-body chat-body" scroll-glue>
        <div ng-repeat="message in messages | orderBy:'timeStamp':false" class="message">
            <div ng-include="'chatWindow/message.tpl.html'"></div>
        </div>
    </div>
    <div class="panel-footer chat-footer">
        <form ng-submit="sendMessage()" name="messageForm">
            <div class="input-group">
                <textarea ng-model="message" ng-enter="sendMessage();" rows="1" class="form-control chat-text"
                          required focus-if name="messageArea" ng-disabled="chatClosed"></textarea>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-disabled="chatClosed"><span
                            class="glyphicon glyphicon-file" ></span></button>
                    <button class="btn btn-default" type="submit" name="send" ng-disabled="chatClosed">Laheta</button>
                </span>
            </div>
        </form>
    </div>
</div>