<div class="panel panel-default queuerBlock" id="queuerBlock">
    <div class="panel-heading queuer-heading" ng-click="collapsed = !collapsed">
        <span class="panel-title" name="queuerName">{{queueObject.username}}</span> <span class="pull-right">{{queueObject.category}}</span></div>
    <div class="panel-collapse collapse" uib-collapse="!collapsed">
        <div class="panel-body"><span></span>
            <button type="button" class="btn btn-block btn-primary" ng-click="pickFromQueue(queueObject.channelID)" name="{{queueObject.username}}">Ota jonosta</button>
        </div>
    </div>
</div>