<div class="panel panel-default" ng-controller="proQueueCtrl">
    <div class="panel-heading queue-heading"><span class="panel-title queue-title">{{inQueue}} henkilöä jonossa</span>

    </div>
    <div class="panel-body poolPro">
        <div class="row">
            <button ng-disabled="queueStatus" type="button" ng-click="nextFromQueue()"
                    class="btn btn-primary queueButton"
                    name="next">Seuraava jonosta
            </button>
            <select class="form-control proQueueDrop pull-right">
                <option class="proQueueDropOption" value="{{category}}" ng-repeat="category in categorys">{{category}}</option>
            </select>
        </div>
        <div class="row">
            <div class="panel-group queueGroup" id="accordion" ng-repeat="queueObject in queue  | limitTo: 10">
                <div ng-include="'queue/queueProBlock.tpl.html'"></div>
            </div>
        </div>
    </div>
</div>