<h1 class="page-header text-center">Sosiaali- ja terveyspalveluiden chat</h1>
<div class="panel panel-default userToPool-panel" ng-controller="userToQueueCtrl" autocomplete="off">
    <div class="panel-body">
        <h4>Keskusteluun liittyminen</h4>
        <form ng-submit="joinQueue()">
            <div class="form-group">
                <label for="username">Nimimerkki:</label>
                <input ng-model="username" type="text" class="form-control" id="username" required>
            </div>
            <div class="form-group">
                <label for="startMessage">Aloitusviesti:</label>
                <textarea ng-model="startMessage" class="form-control" id="startMessage" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-success btn-block">Siirry jonottamaan</button>
        </form>
    </div>
</div>