.chat-panel {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 100%;
}

.chat-text {
    resize: none;
    height: 34px;

}

.chat-body {
    overflow-y: auto;
    height: calc(100% - 104px);
    width: auto;
}



.app-container {
    max-width: 1500px;
    margin-top: 0px;
    height: calc(100% - 10px);
}

.chat-container {
    height: 100%;
}

.chat-footer {
    height: 54px;
}

.chat-heading {
    height: 50px;
}


.logo-container {
    margin-top: 5px;
    min-height: 244px;
    height: 33%;
}

.info-panel {
    margin-top: 5px;
}
textarea.form-control {
    height: 34px;
}

.message-panel {
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
    min-width: 150px;
    max-width: 80%;

}

.chat-row {
    height: calc(100% - 42px);
}

.proContainer {
    height: calc(100% - 10px);
}
.pro-chat-panel {
    height: 100%;
    margin-bottom: 0px;
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}

.proButton{
    margin-top: 2px;
}

.username-title {
    font-weight: bold;
    font-size: large;
}

.poolPro{
    overflow-y: auto;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

html, body {
    height: 100%;
    padding: 0px;
}

.ng-isolate-scope,
.tab-pane,
.tab-content {
    height: 100%;
}

.chat-animation.ng-enter,
.chat-animation.ng-leave {
    -webkit-transition: 0.8s linear all;
    -moz-transition: 0.8s linear all;
    -o-transition: 0.8s linear all;
    transition: 0.8s linear all;
}
.chat-animation.ng-enter {
    z-index: 100;
    opacity: 0;
}
.chat-animation.ng-enter.ng-enter-active {
    opacity: 1;
}
.chat-animation.ng-leave {
    z-index: 101;
    opacity: 1;
}
.chat-animation.ng-leave.ng-leave-active {
    opacity: 0;
}