<div class="col-lg-3 col-md-4 col-sm-4 col-xs-4  pro-left">
    <div class="row">
        <div class="nav navbar-nav nav-justified ">
            <form class="navbar-form navbar-left">
            <span class="username-title ">{{username}}</span>
            </form>
                <form class="navbar-form navbar-right">
                <div style="width: 150px;"
                     class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-id-switch-handleWidth bootstrap-switch-animate bootstrap-switch-on">
                    <div style="width: 372px;" class="bootstrap-switch-container">
                    <span style="width: 74px;"
                          class="bootstrap-switch-handle-on bootstrap-switch-success">Paikalla</span>
                        <span style="width: 74px;" class="bootstrap-switch-label">&nbsp;</span>
                   <!--     <input id="switch-handleWidth" data-handle-width="100" type="checkbox" ng-switch="changeStatus()"> -->
                    </div>
                </div>
                    <toggle-switch ng-model="switchStatus" class="switch-success" on-label="Paikalla" off-label="Poissa" ng-click="changeStatus()"></toggle-switch>
                    <input type="checkbox" ng-model="mymodel.mystate" bootstrap-switch ng-true-value="changeStatus()" ng-false-value="changeStatus() "/>

                </form>
             </div>
        </div>
    <div class="row" ng-include="'queue/queueProCP.tpl.html'"></div>
</div>
<div class="col-lg-9 col-md-8 col-sm-8 col-xs-8 chat-container">
    <div class="row">
        <div class="nav navbar-nav navbar-right">
        <form class="navbar-form">
            <button class="btn btn-primary" name="history" ng-click="showHistory()">Näytä keskusteluhistoria</button>
            <button class="btn btn-default logoutAdmin" name="logout" ng-click="logout()">Kirjaudu ulos</button>
        </form>
        </div>
    </div>
    <div class="panel panel-default pro-chat-panel">
        <div class="row chat-row">
            <ul class="nav nav-tabs">
                <li ng-repeat="chat in chats" name="chatTab" ng-class="{active:tabIsSelected(chat.index)}"><a href ng-click="changeTab(chat.index)">{{chat.title}}</a></li>
            </ul>
            <div ng-repeat="chat in chats" ng-show="activeChatTab == chat.index" class="chat-container">
                <div class="proContainer">
                    <pro-chat-Window-Component channel="{{chat.channel}}" chatend="endChat(chat.channel)"></pro-chat-Window-Component>
                </div>
            </div>
        </div>
    </div>
</div>